body {
  background-color: #1E1E1E;
}
a {
  color: white;
  text-decoration: none;
}
/* header */
.menu {
display: flex;
font-family: Oswald;
margin-top: 32px;
margin-bottom: 32px;

}
ul {
  list-style-type: none;
}
.menu-main {
margin-left: 100px;
color: white;
}
.menu-main-a {
  color: #B2FFA6;
}
.first-menu-main {
  padding: 0;
  margin-left: 150px;
  color: #B2FFA6;
}
header {
  background-color: #121212;
  width: 1920px;
  height: 100px;
  margin-bottom: 0;
}
/* /header */
/* main */
main {
  width: 1920px;
  background-color: white;
}
.firstname {
  font-weight: normal;
}
.firstname, .second-firstname {
font-family: Raleway;
}
.second-firstname {
  font-weight: bold;
}
.first-button {
  background-color: #B2FFA6;
  max-width: 683px;
  max-height: 66px;
  border-radius: 10px;
}

/* /main */
/* footer */
footer {
  width: 1920px;
background-color: #1E1E1E;
}
/* /footer */
